

body {
    background-color: rgb(246, 246, 246);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
    display: flex;
    justify-content: center;
}

.container{
    padding: 20px;
    background: #fff;
    justify-self: center !important;
    width: 100vh;
    height: max-content;
    border-radius: 10px 0 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 100px;
}

.delete-button{
    position: relative;
    padding: 8px 18px;
    color: #1B1B1B;
    border-radius: 6px 0 6px 0;
    background: #ff5549;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-top: 10px;
}

.delete-button:active{
    transform: scale(0.96);
}

.delete-button:active:hover{
    background: #fa1616;
}

.post {
    border-bottom: 1px solid #c7c3ff;
    padding: 10px;
    margin-bottom: 10px;
}
.post h2 {
    color: #0f013e;
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
}
.post p {
    color: #0f013e;
    margin-bottom: 0;
    font-size: 14px;
}
form {
    margin: 20px;
}

label{
    display: block;
    color: #0f013e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

input{
    padding: 10px;
    border-radius: 6px 0 6px 0;
    border: 1px solid #140055;
    font-size: 14px;
    margin-bottom: 20px;
    width: 40%;
    margin-left: 20px;
}

textarea{
    padding: 10px;
    border-radius: 6px 0 6px 0;
    border: 1px solid #140055;
    font-size: 14px;
    margin-bottom: 10px;
    width: 90%;
    height: 100px;
    margin-left: 20px;
}

.add-button{
    position: relative;
    padding: 8px 18px;
    color: #fff;
    border-radius: 6px 0 6px 0;
    background: #140055;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-top: 10px;
}

.add-button:active{
    transform: scale(0.96);
}

.add-button:active:hover{
    background: #140033;
}

/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}
